aclocal.m4
autom4te.cache
Makefile
stamp-h?
.deps
*.o
*.lo
*.la
*.loT
.libs
*~
.*.swp

a.out.dSYM/
config.h
config.log
config.status
configure.lineno
libtool

.dirstamp

doc/Doxyfile
doc/style/dtd/entities.ent

src/xercesc/util/Xerces_autoconf_config.hpp
src/xercesc/util/XercesVersion.hpp

scripts/run-test

xerces-c.pc

